{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="megabot">
        <meta name="keywords" content="megabot">
        <meta name="author" content="megabot">
        <link rel="icon" href="{% static 'assets/images/favicon.png '%}" type="image/x-icon" />
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png'%}" type="image/x-icon" />
        <title>Login / Signup</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


        <!--Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;900&amp;display=swap" rel="stylesheet">
    
        <!-- bootstrap css -->
        <link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css'%}">
    
        <!-- remixicon css -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/remixicon.css'%}">
    
        <!-- iconsax css -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/iconsax.css'%}" />
    
        <!-- animation css -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/aos.css'%}">
    
        <!-- swiper slider css -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/swiper-bundle.min.css'%}" />
    
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
    </head>

<body>
    <!-- login section start -->
    <section class="login-section">
        <a href="index.html"><img src="https://themes.pixelstrap.net/mega_bot/assets/images/logo.svg" class="img-fluid logo-auth"></a>
        <div class="row m-0">
            <div class="col-lg-7 d-lg-inline-block d-none p-0">
                <div class="login-animation">
                    <img src="https://themes.pixelstrap.net/mega_bot/assets/svg/auth/1.svg" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"
                        class="img-fluid img-base" alt="">
                    <img src="https://themes.pixelstrap.net/mega_bot/assets/svg/auth/2.svg" data-aos="zoom-in-up" data-aos-duration="1000"
                        data-aos-delay="1000" class="img-fluid img-light" alt="">
                    <div class="img-face" data-aos-delay="2500" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                        data-aos-duration="1000"> <img src="https://themes.pixelstrap.net/mega_bot/assets/svg/auth/3.svg" class="img-fluid" alt=""></div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-5 ms-auto p-0">
                <div class="login-box">
                    <div>
                        <h2>Welcome to <span>Megabot !</span></h2>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="login-tab" data-bs-toggle="tab"
                                    data-bs-target="#login-tab-pane" type="button" role="tab"
                                    aria-controls="login-tab-pane" aria-selected="true">Login</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="signup-tab" data-bs-toggle="tab"
                                    data-bs-target="#signup-tab-pane" type="button" role="tab"
                                    aria-controls="signup-tab-pane" aria-selected="false">signup</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="login-tab-pane" role="tabpanel"
                                aria-labelledby="login-tab" tabindex="0">
                                <form class="auth-form" method="post"action="{% url 'signup_login' action='login' %}">
                                    {% csrf_token %}
                                    <div class="mb-3 form-group">
                                        <i class="iconsax" data-icon="mail"></i>
                                        <label for="emailid" class="form-label">Email ID</label>
                                        <input type="email" placeholder="Enter your mail id" class="form-control" name="emailid">
                                    </div>
                                    <div class="mb-2 form-group">
                                        <i class="iconsax" data-icon="lock-2"></i>
                                        <label for="password" class="form-label">Password</label>
                                        <input placeholder="Enter your password" type="password" class="form-control" name="password">
                                    </div>
                                    <br>             
                                    <p style="text-align: center;">Alternatively, log in using Face ID.</p>

                                    <br>
                                    <div class="mb-3 form-group">
                                        <button class="butn" type="button"><a href="{% url 'face_id' %}">Face ID Log in</a></button>
                                    </div>
                                    
                                    <br>
                                    <div class="text-end">
                                        <a data-cursor="pointer" href="reset-password.html">Forget Password?</a>
                                    </div>
                                    <button type="submit" class="btn-solid w-100 text-center mt-3">Log me in</button>
                                </form>

                            </div>
                            <div class="tab-pane fade" id="signup-tab-pane" role="tabpanel" aria-labelledby="signup-tab"
                                tabindex="0">  
                                <form class="auth-form" method="POST" action="{% url 'signup_login' action='signup' %}">
                                    {% csrf_token %}
                                    <div class="mb-3 form-group">
                                        <i class="iconsax" data-icon="user-1"></i>
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" name="name" placeholder="Enter your name" class="form-control" id="name">
                                    </div>
                                    <div class="mb-3 form-group">
                                        <i class="iconsax" data-icon="mail"></i>
                                        <label for="email" class="form-label">Email ID</label>
                                        <input type="email" name="email" placeholder="Enter your email" class="form-control" id="email">
                                    </div>
                                    <div class="mb-3 form-group">
                                        <i class="iconsax" data-icon="lock-2"></i>
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" name="password" placeholder="Enter your password" class="form-control" id="password">
                                    </div>
                                    <div class="mb-3 form-group">
                                        <i class="iconsax" data-icon="calendar-2"></i>
                                        <label for="dob" class="form-label">Date of Birth</label>
                                        <input type="date" name="dob" class="form-control" id="dob">
                                    </div>
                                    <div class="mb-3 form-group">
                                        {% comment %} <i class="iconsax" data-icon="scan-2"></i> {% endcomment %}
                                        {% comment %} <label for="faceScan" class="form-label">Face ID Scan</label> {% endcomment %}
                                        <input type="file" name="face_id" accept="image/*" class="form-control" id="faceScan" style="display: none;">
                                    </div>
                                    <h4 class="text-title text-center mt-2">
                                        Please wait a few seconds after clicking "Signup" for the Face ID scan. 
                                        If you don't have a camera, you can still log in using your email.<a data-cursor="pointer"></a>
                                    </h4>
                                    <button type="submit" class="btn-solid w-100 text-center mt-4">Sign up</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login section end -->


    <!--custom cursor start  -->
    <div id="cursor"></div>
    <div id="cursor-border"></div>
    <!--custom cursor start  -->


    <!-- Bootstrap js-->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>

    <!-- slider js-->
    <script src="{% static 'assets/js/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/custom-slider.js'%}"></script>

    <!-- custom cursor -->
    <script src="{% static 'assets/js/custom-cursor.js'%}"></script>

    <!-- aos animation -->
    <script src="{% static 'assets/js/aos.js'%}"></script>
    <script src="{% static 'assets/js/custom-aos.js'%}"></script>

    <!-- iconsax js -->
    <script src="{% static 'assets/js/iconsax.js'%}"></script>

    <!-- laptop animation js -->
    <script src="{% static 'assets/js/home-animation.js'%}"></script>

    <!-- header sticky js -->
    <script src="{% static 'assets/js/header_sticky.js'%}"></script>

    <!-- pricing js -->
    <script src="{% static 'assets/js/pricing-table.js'%}"></script>

    <!-- Theme js-->
    <script src="{% static 'assets/js/script.js'%}"></script>

</body>
</html>